.custom_header {
    padding: 10px 0;
    background-color: #F5F5F5; 
}
.container{
    padding: 0 50px;
    margin: 0 auto;
    max-width: 2940px; 
}
.custom_header-content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom_header-wrapper {
    max-width: 2133px;
    margin: 0 auto;
}
.custom_header-logo-image {
    max-width: 151px;
    flex: 151px;
} 
.custom_header img,svg {
    width: 100%;
    height: 100%;
    display: block;
}
.custom_header img{
    object-fit: cover;  
} 
.custom_header-btn-svg-wrap {
    background-color: #fff544;
    padding: 12px 22px 12px 41px;
} 
.custom_header-btn-svg-wrap::after{
    background-color: #000; 
}
.custom_header-btn-svg-wrap:hover .custom_header-btn-text{
    color: #fff;
    z-index: 11;  
}
.custom_header-btn-svg-wrap:hover .custom_header-arrow-svg svg path {
    fill: #fff;
}
.custom_header-arrow-svg {
    max-width: 24px;
    flex: 24px;
}
.custom_header-text {
    color: #000;
    line-height: 1;
    letter-spacing: .325px;
    padding: 0 10px;
}
.custom_header-btn-text.cus_btn-text {
    color: #000;
}
.custom_header-mob-svg-wrap{
    display: none;
}
.custom_header_grid-item {
    display: none;
}
@media screen and (max-width:990px) {
    .container{
        padding: 0 25px; 
    }
    .custom_header-btn-svg-wrap {
        padding: 12px 15px 12px 25px; 
    }
}
@media screen and (max-width:767px) {
    .custom_header {
        padding: 23px 0; 
        background-color: #00000026;
        position: relative;
    }
    .container{
        padding: 0 16px; 
    }
    .custom_header-mob-svg-wrap{
        display: block;
        position: relative;
    }
    .custom_header-text.des_text,.custom_header-btn-svg-wrap.des_btn { 
        display: none;
    }
    .custom_header-menu-icon {
        max-width: 18px;
    }
    .custom_header-cross-icon {
        position: absolute;
        top: 50%; 
        left: 0; 
        transform: translateY(-50%);
        width: 100%;
        display: none;
        max-width: 13px; 
        min-width: 13px;
    }
    .custom_header-btn-svg-wrap {
        padding: 12px 23px 12px 58px;
        margin: 0 auto;
    }
    .custom_header-content-area { 
        justify-content: unset;
    }
    .custom_header-logo-image {
        margin-left: 75px;
    }
    .custom_header_grid-item { 
        text-align: center;
        background-color: #f2f2f2;
        padding: 25px 0;
        position: absolute; 
        width: 100%;
        left: 0;
        top: 100%;
    }
    .custom_header-text { 
        padding: 0 0;
        margin: 0 0 16px;
        display: block;
        font-size: 16px;  
    }
    .custom_header-btn-text.cus_btn-text {
        margin: 0 29px 0 0;
    }
    .custom_header-arrow-svg {
        max-width: 28px;
        flex: 28px; 
    }
    .custom_header.open .custom_header-menu-icon {
        opacity: 0;
    }
    .custom_header.open  .custom_header-cross-icon {
        display: block;
    }
    .custom_header.open .custom_header_grid-item {
        display: block;
        
    }
    
}

